html {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  padding: 20px;
  padding-bottom: 60px;
}

h1, p {
  margin: 0;
  margin-bottom: 10px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 15px;
  height: 70px;
  line-height: 50px;
  text-align: center;
}

/**/

#titleDiv{
  text-align: center;
}

#content{
  width: 800px;
  margin: 20px auto;
}

.DemoRow{
  width: 100%;
  clear: both;
  box-sizing: border-box;
}

.DemoColumn{
  float: left;
  width: 350px;
  margin-left:50px;
}


.group{
    clear: both;
    margin-left:50px;
    float: left;
}

.demoDiv {
    float: left;
    width: 60px;
    height: 60px;
    line-height: 100px;
    margin: 25px 0 0 25px;
    /*background: #777;*/
    position: relative;
    overflow: hidden;
}

.ProjectType{
    width: 70px;
    height: 70px;
    transform: rotate(45deg);
    position: absolute;
    overflow: hidden;
}

.T{top: -35px;}
.B{bottom: -35px;}
.L{left: -35px;}
.R{right: -35px;}


.ProjectType div{
    transform: rotate(-45deg);
    width: 60px;
    height: 60px;
    position: absolute;

}

.ProjectTypeTR{
    top: 45px;
    left: 5px;
}

.ProjectTypeBL{
    top: -25px;
    left: 5px;
}

.ProjectTypeTL{
    top: 5px;
    left: 45px;
}

.ProjectTypeBR{
    top: 5px;
    left: -25px;
}

.ToolTipTrigger{
    background-color: #3386ad;
}